node_modules/
dist/
.env
.env.local
.env.production
*.log
uploads/*
!uploads/.gitkeep
.next/
.flutter-plugins
.flutter-plugins-dependencies
.dart_tool/
build/
*.iml
.idea/
.vscode/
*.jks
*.keystore
coverage/
.nyc_output/
